<html data-scribe-reduced-action-queue="true" lang="en" ng-app="search" >
<!--<![endif]-->
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Welcome</title>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
   	<link rel='stylesheet' href='stylesheets/style.css' />
   	<link rel='stylesheet' href='stylesheets/font.css' />
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
   	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
   	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
   	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
   	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
   	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
   	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
   	<script src="angularjs/searchAngular.js"></script>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />

</head>

<body ng-controller="search">

	<div class="homeTop">
		<div class="homeTopContainer">
			<div class="homeNavigation">
				<div class="container">
          <div class="homeTopbar">
            <div class="leftPanel">
              <ul>
                <li class="upperTab" style="border-bottom-color: #0084B4;    border-bottom: 5px solid #1b95e0;
    transition: all .15s ease-in-out; height:42px;">
    <ul style="padding: 0px;"><li><a href="/homepage">
                  <span class="Icon Icon--home Icon--large" style="float: left;margin: 11px 0 0 10px;width: 23px;height: 23px"></span></li><li>
                    <span class="text">Home</span> </a> </li></ul>
              </li>
               <li class="upperTab">
                <ul style="padding: 0px;"><li><a href="#">
            <span class="Icon Icon--lightning Icon--large" style="float: left;margin: 11px 0 0 10px;width: 23px;height: 23px"></span></li><li>
            <span class="text">Moments</span></a></li></ul>
          </li>
              <li class="upperTab" >
                <ul style="padding: 0px;"><li><a href="#">
                <span class="Icon Icon--notifications Icon--large" style="float: left;margin: 11px 0 0 10px;width: 23px;height: 23px"></span></li><li>
                <span class="text">Notifications</span></a></li></ul>

              
          </li>

          <li class="upperTab" >
            <ul style="padding: 0px;"><li><a href="#">
                <span class="Icon Icon--dm Icon--large" style="float: left;margin: 11px 0 0 10px;width: 23px;height: 23px"></span></li><li>
                <span class="text">Messages</span>
              </a>
              </li></ul>
          </li>

        </ul>
      </div>
      <div class="homeLogo" style="position:absolute;margin-left:70%;">
      <h1 class="Icon Icon--bird bird-topbar-etched" style="display: inline-block; width: 24px; height: 21px;color: #1da1f2;
    font-size: 21px;
    margin-top: 14px;
    margin-left: -24px;transition: all .25s ease-in-out;">
      <span class="visuallyhidden">Twitter</span>
      </h1>
      </div>
      <div class="rightPanel">
        <ul>
          <li>
            <a href="/search">
           <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 7px; margin-right:7px;">Search</button> 
         </a>
          </li>
          <li>
            <a href="/logout">
             <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 7px;">Log out</button> 
            </a>
          </li></ul>
        </div>
      </div>

      




  </div>

  <h1>Search</h1>
    <md-content>


      <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs="">
            <label>Insert hashtags to search</label>
            <input ng-model="searchInput" >
          </md-input-container>

          <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 7px;width:150px;height:43px;" ng-click="searchText();">
          	<span class="Icon Icon--search Icon--medium" style="float: left;margin: 9px 0 0 25px;width: 23px;height: 23px"></span>
                <span class="text" style="margin-bottom:5px;margin-top:9px;">Search</span>
          </button> 
      </div>



      <div class="AdaptiveSearchTitle" ng-show="resultIsBack">
    <h1 class="AdaptiveSearchTitle-title" dir="ltr">{{ searchInput }}</h1>
    
  </div>
  <div class="stream-end-inner" ng-show="noResultsFound">
      <span class="Icon Icon--large Icon--logo"></span>
    <p class="empty-text">
          No results.
    </p>
  </div>

  <md-list-item class="md-3-line md-long-text" ng-repeat="tweet in tweetResults">
             <img ng-src="../images/{{tweet.TWITTER_HANDLE}}.jpeg" class="md-avatar" alt="">
                <div class="md-list-item-text">
                    <h3>{{tweet.FIRST_NAME}} {{tweet.LAST_NAME}}</h3> <h4><a href="/{{tweet.TWITTER_HANDLE}}">@{{tweet.TWITTER_HANDLE}}</a></h4>
                    <span >
                    <p style="overflow-wrap: break-word;" ng-bind-html="trustHtml(tweet.TWEET)">
                      
                    </p></span>

                </div>
                <md-divider></md-divider>
            </md-list-item>





    
  </md-content>
  


</div>
</div>
</div>
 </body>
</html>